.navigation-bar {
    width: 200px;
    float: left;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.navigation-bar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


.navigation-bar li a:hover {
    background-color: #555;
    color: white;
}

.admin-content {
    width: 1400px;
    height: 800px;
    float: left;
    background: #f1f1f1;
    padding: 15px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.text-size1 {
    font-size: 50px;
}

.text-size2 {
    font-size: 25px;
}

.form {

}

.form table td {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.form table h1 {
    font-size: 40px;
    margin: 0;
}

.form table h2 {
    font-size: 30px;
    margin: 0;
}

.category-tree-view {
    width: 50%;
    height: 100%;
    float: left;
}

.category-form-view {
    width: 50%;
    height: 100%;
    float: left;
}

.category-form-view table {
    width: 80%;
    height: 100%;
}

.category-tree-view table {
    width: 100%;
    height: 100%;
}

/*.category-form-view select, input {*/
/*    width: 100%;*/
/*}*/

.header-form-style {
    background: lightskyblue;
    width: 100%;
}

.description {
    height: 300px;
    width: 100%;
}

.button-width-1 {
    width: 100px;
}

.button-width-2 {
    width: 140px;
}

.tr-height-1 {
    height: 90%;
}

.tr-height-2 {
    height: 10%;
}


.tree-div {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: relative;
}

.tree-div ul {
    font-size: 20px;
}

.tree-div li {
    padding-left: 30px;
    list-style: none;
}

.tree-div ul > li {
    padding-left: 30px;
}

.hideChildren > li {
    display: none;
    list-style: none;
}

.showChildren > * {
    display: block;
    list-style: none;
}

.overlay {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}

.disabled {

}

.products-top {
    height: 15%;
    width: 100%;
    float: top;
}

.product-middle {
    height: 70%;
    width: 100%;
    float: top;
}

.product-bottom {
    height: 15%;
    width: 100%;
    float: top;
}

.product-buttons {
    width: 100%;
    height: 50%;
}

.new-product-header {
    width: 100%;
    height: 10%;
    background-color: red;
}

.new-product-data {
    width: 50%;
    height: 90%;
    background-color: chocolate;
}

.new-product-image {
    width: 50%;
    height: 90%;
    background-color: blueviolet;
}

.add-new-product {
    width: 100%;
    height: 100%;
}

.product-form-data {
    width: 40%;
    height: 100%;
    float: left;
    padding: 20px;
}

.product-upload-image {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
}

.image-text {
    width: 15%;
    height: 400px;
    font-size: 20px;
    float: left;
}

.image-area {
    width: 70%;
    height: 400px;
    float: left;
}

.upload-button {
    width: 90%;
    float: left;
    margin-left: 15%;
}

.upload-button-style {
    width: 300px;
    float: left;
    margin-top: 5px;
}

.save-button-style {
    width: 100px !important;
    float: left;
    margin-top: 5px;
}

.table-products {
    width: 100%;
}

.table-wrapper {
    width: 100%;
    height: 55%;
}

.pagination-wrapper {
    text-align: center;
    margin-top: 10px;
    float: bottom;
}

.pagination-content {
    display: inline-block;
}

.button-pagination {
    width: auto;
}

.product-message {
    text-align: center;
}

.dashboard-wrapper {
    width: 100%;
    height: 100%;
}

.dashboard-left {
    width: 50%;
    height: 200px;
    float: left;
    padding-top: 25px;
}

.dashboard-left-data {
    margin: auto;
    width: 50%;
    text-align: center;
    height: 40px;
}

.dashboard-left-data p {
    border-width: 1px;
    border-style: solid;
    width: 30%;
    float: left;
    height: 30px;
    margin: 0px;
    font-size: 20px;
}

.dashboard-left-data label {
    float: left;
    width: 30%;
    height: 30px;
    font-size: 15px;
}

.dashboard-right {
    width: 30%;
    height: 50%;
    float: left;
    padding-top: 25px;
}

.dashboard-right-data {
    margin: auto;
    width: 50%;
    text-align: center;
    height: 40px;
}

.dashboard-right-data p {
    border-width: 1px;
    border-style: solid;
    width: 50%;
    float: left;
    height: 50px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    font-size: 20px;
}

.dashboard-right-data label {
    float: left;
    width: 40%;
    height: 30px;
    font-size: 15px;
}

.homepage-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
}

.homepage-header h1 {
    margin: 0px;
    height: 10%;
}

.homepage-categories {
    float: left;
    width: 15%;
    height: 85%;
}

.search-bar {
    float: left;
    width: 100%;
    height: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}

.search-bar-wrapper {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}

.search-bar input[type = text] {
    width: 60%;
    height: 40%;
    margin-left: 10px;
    float: left;
}

.search-bar input[type = number] {
    width: 20%;
    height: 20%;
    float: left;
}


.search-bar input[type=submit] {
    width: 25%;
    height: 40%;
    float: left;
}

.list-categories {
    float: left;
    width: 100%;
    height: 90%;
}


.homepage-featured {
    float: left;
    width: 83%;
    height: 85%;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.tree-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 0px;
}

.tree-container a {
    width: 100%;
    height: 100%;
}

.tree-container > ul {
    width: 100%;
    height: 100%;
}

.tree-container > ul li {
    list-style: none;
    padding-left: 10px;
}

.tree-container > ul :first-child {
    border: 1px black solid;
}

.tree-container > ul :not(first-child) {
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

.tree-border {
    width: 90%;
    padding-left: 0px;
}

.card-holder {
    width: 30%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
}

.card-image {
    width: 100%;
    height: 50%;
}

.card-price {
    width: 100%;
    height: 20%;
    margin-top: 5px;
}

.card-featured {
    width: 100%;
    height: 20%;
}

.featured-products-row {
    width: 95%;
    height: 50%;
    margin: 5px 5px 15px 15px;
    display: flex;
    font-size: 20px;
}

.product-display-wrapper {
    width: 100%;
    height: 100%;
}

.product-display-image {
    width: 50%;
    height: 70%;
    padding-top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.product-display-image img {
    width: 80%;
    height: 80%;
}

.product-display-info {
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
    padding-top: 10px;
}

.product-info-block {
    width: 60%;
    height: 15%;
    font-size: 30px;
    padding-top: 20px;
    text-align: left;
}

.wrapper-display-categories {
    width: 95%;
    height: 100%;
}

.wrapper-criteria {
    width: 100%;
    height: 15%;
    display: flex;
    float: left;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
}

.wrapper-criteria-element {
    width: 130px;
    height: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.wrapper-criteria-element-buttons {
    width: 300px;
    height: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

.wrapper-listing-products {
    width: 100%;
    height: 80%;
    float: left;
}


.product-display-box {
    min-width: 20%;
    max-width: 20%;
    height: 450px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}

.product-display-box-image {
    width: 100%;
    height: 50%;
    padding-top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.product-display-box-image img {
    width: 80%;
    height: 100%;
}

.product-display-box-title {
    width: 90%;
    height: 10%;
    text-align: center;
    float: left;
    padding-top: 10px;
}


.product-display-box-price {
    width: 90%;
    height: 10%;
    text-align: center;
    float: left;
    padding-top: 10px;
}

.product-display-box-short-description {
    width: 90%;
    height: 10%;
    text-align: center;
    float: left;
    padding-top: 10px;
    overflow: hidden;
}

.display-products-row {
    width: 95%;
    height: 60%;
    margin: 10px 5px 15px 15px;
    display: flex;
    font-size: 20px;
}

.display-products-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}

.navigation-bar-link {
    width: 100px;
    height: 30px;
}

.wrapper-search-criteria {
    width: 100%;
    height: 15%;
    float: left;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: 1px solid;
}

.wrapper-search-criteria-top {
    width: 100%;
    height: 40%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.wrapper-search-criteria-top label {
    margin-left: 50px;
    margin-right: 50px;
}

.wrapper-search-criteria-bottom {
    width: 100%;
    height: 40%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.wrapper-search-criteria-bottom select {
    min-width: 200px;
    max-width: 200px;
    min-height: 30px;
    max-height: 30px;
}

.wrapper-search-criteria-bottom input[type=text] {
    min-width: 200px;
    max-width: 200px;
    min-height: 30px;
    max-height: 30px;
}

.wrapper-search-criteria-bottom input[type=number] {
    min-width: 200px;
    max-width: 200px;
    min-height: 30px;
    max-height: 30px;
}

.wrapper-search-criteria-bottom select {
    min-width: 200px;
    max-width: 200px;
    min-height: 30px;
    max-height: 30px;
}


.wrapper-search-criteria-bottom input[type=submit] {
    min-width: 100px;
    max-width: 100px;
    min-height: 30px;
    max-height: 30px;
}

.product-info {
    width: 90%;
    float: left;
    margin-bottom: 10px;
    font-size: 20px;
    height: 5%;
}

.product-info-area {
    width: 90%;
    float: left;
    height: 120px;
    margin-bottom: 10px;
    font-size: 20px;
}

.block-left {
    width: 25%;
    float: left;
}

.block-right {
    width: 65%;
    float: left;
}

.block-right select {
    width: 90%;
}

.block-right input {
    width: 90% !important;
}

.block-right textarea {
    height: 100px;
    width: 90%;
}

.block-right input[type=number] {
    width: 90%;
}